In [10]:
import pandas as pd
data = {"Sales": [500,100,300,200,400,1000,1500,700,900,600,800],
       "Date":["01-01-2023","02-01-2023","03-01-2023","04-01-2023","05-01-2023","06-01-2023","07-01-2023","08-01-2023","09-01-2023","10-01-2023"
              ,"11-01-2023"]}
df = pd.DataFrame(data)
df["Moving Average"] = df["Sales"].rolling(window=7,min_periods=1).mean()
df

    Sales        Date  Moving Average
0     500  01-01-2023      500.000000
1     100  02-01-2023      300.000000
2     300  03-01-2023      300.000000
3     200  04-01-2023      275.000000
4     400  05-01-2023      300.000000
5    1000  06-01-2023      416.666667
6    1500  07-01-2023      571.428571
7     700  08-01-2023      600.000000
8     900  09-01-2023      714.285714
9     600  10-01-2023      757.142857
10    800  11-01-2023      842.857143